Options +FollowSymlinks
RewriteEngine On
RewriteBase /codeigniter/
RewriteCond %{HTTP_HOST} ^ecopetit.cat$ [NC]
RewriteRule ^(.)$ http://www.ecopetit.cat/$1 [R=301,L]
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteCond %{REQUEST_URI} (index\.php|webroot/|images/|css/|js/|robots\.txt|favicon\.ico)
#RewriteRule ^(images|css|files|js)/(.*)$ webroot/$1/$2 [L]
RewriteRule ^(favicon\.ico)$ webroot/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

