<?php 
$urlImage = (!empty($user['User']['photo_dir'])) ? $user['User']['photo'] : 'camarafot.png';
$nameImage = ($urlImage == 'camarafot.png') ? $this->webroot.'img'.DS.$urlImage : $this->webroot.'files'.DS.'users'.DS.'user_'.$user['User']['id'].DS.$urlImage;
$function_name = (empty($user['User']['functionality_id'])) ? __('FUNCIÓN DENTRO DE LA EMPRESA') : $staticFunctionalitiesNames[$user['User']['functionality_id']];
$value_function_name = ($function_name != __('FUNCIÓN DENTRO DE LA EMPRESA')) ? $function_name : '';
$department_name = (!empty($user['User']['department_id'])) ? $staticDepartmentsNames[$user['User']['department_id']] : __('DEPARTAMENTO DENTRO DE LA EMPRESA');
$value_department_name = ($department_name != __('DEPARTAMENTO DENTRO DE LA EMPRESA')) ? $department_name : '';
$companyName = (empty($user['User']['company_id'])) ? __('Sin empresa / Autónomo') : $staticCompanyNames[$user['User']['company_id']];
$companyNameValue = ($companyName !=__('Sin empresa / Autónomo')) ? $companyName : '';
$countryName = (!empty($user['User']['country_id'])) ? $staticCountriesNames[$user['User']['country_id']] : __('Seleccione país');
$countryNameValue = ($countryName != __('Seleccione país')) ? $countryName : '';
$cityName = (!empty($user['User']['city_id'])) ? $staticCitiesNames[$user['User']['city_id']] : __('Seleccione ciudad');
$cityNameValue = ($cityName != __('Seleccione ciudad')) ? $cityName : '';
$mail = $user['User']['email'];
$nameShort = (strlen($mail) > 25) ? substr($mail,0,25).'...' : $mail;
$sectorName = (!empty($user['User']['sector_id'])) ? $staticSectorsNames[$user['User']['sector_id']] : __('Línea de negocio');
?>
<div class="row"><div class="col-sm-offset-3 col-sm-6 col-sm-offset-3"><div class="row star"><?php if (!empty($specialitiesFromUser)) { echo $this->Html->image('star_03.png');} ?></div>
<?php
echo $this->Form->create('User', array('inputDefaults' => array('div' => 'form-group','class' => 'form-control','type'=> 'file'),'type'=>'file'));?><input type="hidden" id="User.id" name="User[id]" value='<?php echo $user['User']['id']?>'><div class="row tarjeta" style="color: #333333;font-size: 16px;"><div class="col-md-12"><a href="#" style="border-bottom: 0px" id="sector" data-type="typeaheadjs" data-pk="1" data-original-title="<?php echo $sectorName;?>" class="editable editable-click" data-value=""><?php echo $sectorName;?></a><div class="row"><div class="col-md-3"><img src="<?php echo  $nameImage?>" width="100px" heigth="100px" id="image1" type ='file' alt="<?php echo __('Imágen de perfil');?>" ><?php echo $this->Form->input('User.image1',array('id'=> 'imgInp1','label' => false,'class'=>'hidden'));?></div><div class="col-md-9"><div class="form-inline"><label class="radio" style="cursor:pointer" ><input type="radio" name="User[hasCompany]" id="hasCompanyA" value="A" style="cursor:pointer" <?php  if(empty($user['User']['company_id'])) {echo 'checked';}?>/><?php echo __('Soy autónomo').'&nbsp;&nbsp;&nbsp;&nbsp;'?></label><label class="radio" style="cursor:pointer"><input type="radio" name="User[hasCompany]" id="hasCompanyE" value="E" style="cursor:pointer" <?php  if (!empty($user['User']['company_id'])) {echo 'checked';}?>/><?php echo __('Empleado');?></label></div><div class="row"><a href="#" id="company" data-type="typeaheadjs" data-pk="1" data-original-title="<?php echo __('Empresa');?>" class="editable editable-click" data-value="<?php echo $companyNameValue?>"><?php echo $companyName;?></a></div><div class="row"><a href="#" id="firstname" data-type="text" data-pk="1" data-original-title="Nombre" class="editable editable-click"><?=$user['User']['firstname'];?></a>&nbsp;&nbsp;<a href="#" id="lastname" data-type="text" data-pk="1" data-original-title="Apellidos" class="editable editable-click"><?=$user['User']['lastname'];?></a></div><div class="row"><a href="#" id="functionality" data-type="typeaheadjs" data-pk="1" class="editable editable-click" data-value="<?php echo $value_function_name?>"><?php echo $function_name?></a></div><div class="row"><a href="#" id="department" data-type="typeaheadjs" data-pk="1" class="editable editable-click" data-value="<?php echo $value_department_name?>"><?php echo $department_name?></a></div><div class="row">
<a title="" data-original-title="" class="editable editable-click" href="#" id="country" data-type="select2" data-pk="1" data-value="<?php echo $countryNameValue?>" data-title="<?php echo __('Seleccione país');?>"><?php echo $countryName?></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="city" data-type="typeaheadjs" data-pk="1" class="editable editable-click" data-value="<?php echo $cityNameValue?>"><?php echo $cityName?></a></div></div></div></div><div class="row-fluid bot"><div class="span8 edis"><?php echo $nameShort;?><input type="hidden" name="User[email]" value='<?php echo $mail?>'></div><div class="span8 edis"><span class="address"><?php echo $company['Company']['address'];?></span></div></div><div class="row-fluid" style="margin-top: 0px;font-size:12px;"><!-- <div class="span4"><a href="#">CV EMPRESA</a></div>--><div class="text-center" style="margin-top:10px"><?php echo $this->Form->submit(__('GUARDAR'),array('class' => 'submittarjet'));echo $this->Form->end(); ?></div></div></div></div></div>