@font-face {
    font-family: 'AlefRegular';
    src: url('fonts/alef-regular.eot');
    src: url('fonts/alef-regular.eot') format('embedded-opentype'),
         url('fonts/alef-regular.woff') format('woff'),
         url('fonts/alef-regular.ttf') format('truetype'),
         url('fonts/alef-regular.svg#AlefRegular') format('svg');
}
		@font-face { 
		 
		 font-family: 'sourcesansproreg';
    src: url('fonts/sourcesanspro-regular.eot');
    src: url('fonts/sourcesanspro-regular.eot') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular.woff') format('woff'),
         url('fonts/sourcesanspro-regular.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular.svg#sourcesansproreg') format('svg');
		}
		 @font-face {
		  
		 font-family: 'sourcesansprobold';
    src: url('fonts/sourcesanspro-bold.eot');
    src: url('fonts/sourcesanspro-bold.eot') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold.woff') format('woff'),
         url('fonts/sourcesanspro-bold.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold.svg#Sourcesansprobold') format('svg');
		 }
		 @font-face {
		  
		 font-family: 'sourcesansprolight';
    src: url('fonts/sourcesanspro-light.eot');
    src: url('fonts/sourcesanspro-light.eot') format('embedded-opentype'),
         url('fonts/sourcesanspro-light.woff') format('woff'),
         url('fonts/sourcesanspro-light.ttf') format('truetype'),
         url('fonts/sourcesanspro-light.svg#Sourcesansprolight') format('svg');
		 
}
.span8 {
  width: 65.95744680851064%;
}
body {
	font-family: 'sourcesansproreg',Tahoma, Helvetica, Arial !important;
	font-size: 15px;
}

/* HOME */
.social-head {
	 float: left !important;
    margin: 9px -10px !important;
}
.social a {
	float: left;
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #ACACAC;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
	margin-left: 2px;
	margin-top: -13px;
}

.social a:hover i {
	color: #fff;
}
.social a i {
	background-color: #DDC079;
	padding: 9px 0;
	display: block;
	/*font-size: 0.6em;*/
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background-image: url(../../img/reflect.png);
	background-repeat: no-repeat;
}
.social a:hover .icon-twitter, .social a:hover .icons-social-twitter, .with_color a .icon-twitter, .with_color a .icons-social-twitter { background-color: #00abdc; }
.social a:hover .icon-facebook, .social a:hover .icons-social-facebook, .with_color a .icon-facebook, .with_color a .icons-social-facebook { background-color: #325c94; }
.social a:hover .icon-dribbble, .social a:hover .icons-social-dribbble, .with_color a .icon-dribbble, .with_color a .icons-social-dribbble { background-color: #fa4086; }
.social a:hover .icon-rss, .social a:hover .icons-rss, .with_color a .icon-rss, .with_color a .icons-rss { background-color: #f1862f; }
.social a:hover .icon-github, .social a:hover .icons-social-github, .with_color a .icon-github, .with_color a .icons-social-github { background-color: #333; }
.social a:hover .icon-instagram, .with_color a .icon-instagram { background-color: #964b00; }
.social a:hover .icon-linkedin, .social a:hover .icons-social-linkedin, .with_color a .icon-linkedin, .with_color a .icons-social-linkedin { background-color: #0073b2; }
.social a:hover .icon-pinterest, .social a:hover .icons-social-pinterest, .with_color a .icon-pinterest, .with_color a .icons-social-pinterest { background-color: #d9031f; }
.social a:hover .icon-google-plus, .social a:hover .icons-social-google-plus, .with_color a .icon-google-plus, .with_color a .icons-social-google-plus { background-color: #d9031f; }
.social a:hover .icon-foursquare, .with_color a .icon-foursquare { background-color: #0cbadf }
.social a:hover .icon-skype, .social a:hover .icons-social-skype, .with_color a .icon-skype, .with_color a .icons-social-skype { background-color: #00b9e5 }
.social a:hover .icon-cloud, .social a:hover .icons-social-soundcloud, .with_color a .icon-cloud, .with_color a .icons-social-soundcloud { background-color: #ff7700 }
.social a:hover .icon-youtube, .social a:hover .icons-social-youtube, .with_color a .icon-youtube, .with_color a .icons-social-youtube { background-color: #d9031f }
.social a:hover .icon-tumblr, .social a:hover .icons-social-tumblr, .with_color a .icon-tumblr, .with_color a .icons-social-tumblr { background-color: #325c94 }
.social a:hover .icon-stackexchange, .with_color a .icon-stackexchange { background-color: #4e4e4e; }
.social a:hover .icon-flickr, .social a:hover .icons-social-flickr, .with_color a .icon-flickr, .with_color a .icons-social-flickr { background-color: #fa4086 }

.tt-metro-social a i {
	padding: 6px 0;
	font-size: 20px;
}
.social a:hover i {
	background-position: -1px
}
.headdown .social a:hover i {
	background-position: -3px
}
#map {
  padding: 0;
  width: 100%;
  height: 94vh;
  margin:-30px;
}
.leaflet-top-pane {
  pointer-events: none;
}
.header-nav .glyphicons:before{
	color: white;
	padding-left: 8px;
	margin-top: -13px;
}
.header-nav ul.notifications li{
	min-width: 183px;
}
.estadisticas-home ul.stats li{
	width: 50%;
}
.estadisticas-home ul.stats li.mes{
	width: 25%;
}
h5.registro{
	color:rgb(103, 194, 20);
}
h5.acceso{
	color:rgb(0, 169, 248);
}
ul.socialcounter-home{
	padding: 0px;
	list-style: none;
}
ul.socialcounter-home li{
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 8px;
	min-width: 0px !important;
}
ul.socialcounter-home li .icon{
	margin: 0px 10px 0 0 !important;
}
ul.socialcounter-home li .count{
	font-size: 11px;
    margin-top: 10px;
    font-weight: bold;
	font-style: italic;
	position: absolute;
	right:40px; 

}
.counter-num{
    float:right;
    padding-right: 7px;
}

/*Colores socialcounter redes sociales */
ul.notifications li .icon.facebook{
	background-color:#617aba;
}
ul.notifications li .icon.twitter{
	background-color:#96cbef;
}
ul.notifications li .icon.youtube{
	background-color:#cd654d;
}
ul.notifications li .icon.pinterest{
	background-color:#cc5757;
}
ul.notifications li .icon.instagram{
	background-color:#686969;
}
ul.notifications li .icon.google{
	background-color:#4d4d4d;
}
.notificaciones ul li{
	padding: 10px !important;
}
.notificaciones ul li>.fa{
	margin-right: 15px;
	color:silver;
}
.campanyas button{
	position: absolute;
	right: 10px;
}
.users-list .ver{
	text-align:right;
}
.users-list .ver i{
	color:white;
}

/* CAUTIVO */
.cautivo .form-control{
	width: auto;
}
.cautivo .listado-hostpots .glyphicons:before{
color:#999;
margin-top: 8px;
margin-left: 8px;
}
.cautivo table tr.hotspot .icon{
margin: 0px 0px 0px 0px!important;
padding: 7px 10px 9px 10px;
color: white;
width: 40px;
display: inline-block;
text-align: center;
}
.cautivo table tr.hotspot .icon.green{
	background-color: #bdea74;
}
.cautivo table tr.hotspot .icon.red{
	background-color: #ff5454;
}
.cautivo table tr.hotspot .btn-lg{
	font-size: 14px;
}
.cautivo .fa-picture-o:before{
	color:white;
}
.cautivo .fa-picture-o{
	background-color: #36a9e1;
}
.cautivo .btn-group i{
	margin-right: 5px;
}
.cautivo .box-icon i.fa-picture-o{ 
	width: 109px;
	color:white;
}

.cautivo .fa-plus-circle{
    background-color: #78cd51;
}
.cautivo .box-icon i.fa-plus-circle{
    width: 109px;
    color:white;
}
/* PORTAL CAUTIVO */
.portalcautivo .fa-plus-circle{
	background-color: #78cd51;
}
.portalcautivo .box-icon i.fa-plus-circle{ 
	width: 109px;
	color:white;
}
.portalcautivo .previsualizar img{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.portalcautivo .previsualizar .quick-button{
	padding:60px 0;
	margin-bottom: 20px;
}
.portalcautivo .previsualizar i{
	font-size: 16px;
}
/*Crear nuevo diseño */
.nuevocautivo .elegir-tema label{
	color:#78cd51;
}
.nuevocautivo .elegir-tema .form-control{
	width: auto;
}
.nuevocautivo .anuncios-carrousel{
	margin-top: 15px;
}

.nuevocautivo .previsualizar .quick-button{
	padding:60px 0;
	margin-bottom: 20px;
}
.nuevocautivo .redes-sociales ul{
list-style: none;
padding:0px;
}
.nuevocautivo .redes-sociales i{
	color:white;
}
.nuevocautivo .redes-sociales span.facebook{
	background-color:#617aba;
	padding-right: 15px;
padding-left: 15px;
}
.nuevocautivo .redes-sociales span.twitter{
	background-color:#96cbef;
}
.nuevocautivo .redes-sociales span.youtube{
	background-color:#cd654d;
}
.nuevocautivo .redes-sociales span.pinterest{
	background-color:#cc5757;
}
.nuevocautivo .redes-sociales span.instagram{
	background-color:#686969;
}
.nuevocautivo .redes-sociales span.google{
	background-color:#4d4d4d;
}
.nuevocautivo .redes-sociales span.web{
	background-color:#bdea74;
}

.nuevocautivo .redes-sociales ul li{
	margin-bottom: 10px;
}
.nuevocautivo .eleccion-hotspots label{
	color:#1e8fc6;
}

/*GAmificar */

.gamificar .add-event label{
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 10px;
}
.gamificar .recompensa .form-control{
	width: auto;
}
/* Usuarios wifi */
.filtros .box .box-header .box-icon{
	float: none;
}
.filtros .box .box-header .box-icon i{
	border-left: 0;
}
.filtros .box .box-header{
	background: transparent;
}
.usuarioswifi .users{
	margin-top: 6px;
}
.usuarioswifi span.title{
	margin-top: 5px;
	color:silver;
	font-weight: 200;
}
.modal .glyphicons{
	display: inline;
}
#sms .modal-header, #mail .modal-header{
	background: #f7f7f8;
}
#sms .modal-body .checkbox, #mail .modal-body .checkbox{
	color:silver;
}
#mail .modal .editor{
	width: 100%;
}
.modal .glyphicons:before{
color:#1e8fc6;
top:-4px;
}
.modal .chat{
	background: transparent;
}
.usuarioswifi .filtro-hostpots .form-control{
width: auto;
}
.usuarioswifi .box-icon i.fa-user{
	width: 109px;
	color: white;
}
.usuarioswifi .fa-user{
	background-color: #36a9e1;
}
.usuarioswifi .switch{
	margin-top:5px;
	margin-bottom:8px;
}
.usuarioswifi label.switch{
	margin-top:10px
}
.botones-filtros{
	text-align: right;
	
}
.botones-filtros button{
	margin-bottom: 5px;
	width: 130px;
}
.filtros .form-group{
	margin-bottom: 0px;

}
/* Nuevo usuario */
.pull-right{
	text-align: right;
}

/*ver usuario */
.verusuario #chart-month{
	display: none;
}

.verusuario ul.messages-list li {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin-bottom: 10px;
padding: 10px;
}
ul.messages-list {
list-style: none;
padding: 0;
}
ul.messages-list li.unread .header, .inbox ul.messages-list li.unread .title {
font-weight: bold;
}
ul.messages-list li .header {
margin: 0 0 5px 0;
}

ul.messages-list .texto{
	color:silver;
}
ul.messages-list .header a:hover{
color:#67c2ef;
text-decoration: none;
}
.verusuario .glyphicons, .vercomunicacion .glyphicons{
	display: inline;
}
.verusuario .iphone:before{
	color:white;
	background: #fabb3d;
	padding: 7px;
}
.verusuario .envelope:before{
	color:white;
	background: #78cd51;
	padding: 7px;
}
.verusuario .chat:before{
	color:white;
	background: #67c2ef;
	
	padding: 7px;
}

.verusuario ul.messages-list li .header .date {
width: 50%;
text-align: right;
float: right;
}


.verusuario dt.status, .verusuario dd.status{
	margin-top: 10px;
}
.verusuario dl.datoswifi dt{
	float: left;
	margin-right: 5px;
}
.verusuario dl.datoswifi dd{
color:rgb(177, 177, 177);
}
.verusuario h1{
	font-size: 20px;
	border-bottom: 1px solid #dbdee0;
	margin-top: 0px;
}
.verusuario .likes h5{
	text-align: center;
}
.verusuario #datos-user{
	border: 1px solid #ccc;
	border-top: 0px;
	padding: 15px;
}
/* Ver comunicación */
.vercomunicacion .estadisticas{
	text-align: center;
}

.vercomunicacion ul.messages-list li.active {
background: #F2F3F3;
border: 1px solid #dbdee0;
padding: 9px;
}
.vercomunicacion ul.messages-list li .header .date {
width: 50%;
text-align: right;
float: right;
}
.vercomunicacion .chat:before{
	color:#67c2ef;
	padding: 7px;
}
.sidebar-nav>ul .dropmenu {
	font-size: 0.8em;
}

/*
.sidebar-nav>ul .sub, .sidebar-nav>ul .submenu {
	font-size: 0.7em;
}
*/

.cardtitle {
	font-size: 1.4em;
	text-align: center;
}
#tv_panttienda_cont {
  background-color: #FFFFFF;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border: 1px solid #999999;
  padding: 30px;
  margin:-13px;
}
.tv_tarvirtualuno {
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  float: left;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 86%;
  margin-left: 6%;
  margin-top: 1%;
  margin-right: 7%;
}
.tv_panttienda_tarjevirtcuatr {
  border-right: 1px dotted #666666;
  float: left;
  text-transform: uppercase;
  margin-top: 3%;
  width: 30%;
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
  margin-left: 5%;
  width: 30%;
}
.variospantiendados {
  margin-left: 0 !important;
  width: 29%;
}
.tv_panttienda_tarjevirtcuatr {
  border-right: 1px dotted #666666;
  float: left;
  text-transform: uppercase;
  margin-top: 3%;
  width: 30%;
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
  margin-left: 5%;
  width: 30%;
}
.variospantienda {
  border-right: medium none;
  margin-left: 28px;
  width: 20%;
}
.tv_panttienda_tarjevirtcuatr {
  border-right: 1px dotted #666666;
  float: left;
  text-transform: uppercase;
  margin-top: 3%;
  width: 30%;
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
  margin-left: 5%;
  width: 30%;
}
.tienda_box {
  background-color: #DDC079;
  /*float: left;
  margin-bottom: 4%;
  margin-left: 6%;
  margin-top: 2%;
  width: 86%;*/
}
.tienda_box p {
  color: #000000;
  float: left;
  font-size: 1.4em;
  padding-bottom: 0 !important;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 19px;
  /*width: 44%;*/
}
.tienda_box_boton {
  font-size: 1.3em;
  background-color: #47789F;
  text-align: center;
  text-transform: uppercase;
  padding: 2%;
  font-family: 'sourcesansproreg',Tahoma, Helvetica, Arial !important;
  line-height: 18px;
  margin-top: 5%;
  margin-left: 11%;
  width: 60%;
}
.tienda_box_boton a {
  color: #fff;
 
}
.tienda_box_1, .tienda_box_2, .tienda_box_3 {
margin-top: 1%;
height: 200px;
	}
.tienda_box_1 {
  
  border-right: 1px dotted #666666;
  float: left;
 padding: 2%;
  width: 20%;
}
.tienda_box_1 img {
  margin-left: 13%;
  width: 52%;
}
.tienda_box_1 p, .tienda_box_2 p, .tienda_box_3 p {
	color: #7A7A7A !important;
}
.tienda_box_1 p {
  margin-bottom: 6% !important;
  margin-left: 15%;
  margin-top: 5%;
  
  font-size: 1.4em;
}
.tienda_box_1 span {
   font-size: 1.4em;
}
.tienda_box_2
{
	border-right: 1px dotted #666666;
}
.tienda_box_2 p, .tienda_box_3 p {
	font-size: 1.2em;
}
.tienda_box_3 ul {
	list-style-type: none;
	padding-left: 0px;
}
.titulo_box_3 {
	font-size: 1.2em;
}
.tienda_box_3 li {
	margin-left:10px;
}
.tienda_box_2 input {
	float: left;
	font-size: 2em;
	height: 1.4em;
	margin-right: 5%;
	text-align: right;
	width: 44%;
	color: #d5d5d5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.tv_panttienda_pack {
  color: #47789F;
}
.tv_panttienda_tarjjc {
	margin-top: 16px;
}
.tv_panttienda_precioss {
	float: left;
  margin-top: 18px;
  width: 100%;
}
.tienda_box_precio {
  clear: both;
  float: left;
  font-weight: bold;
  margin-left: 20%;
  color: #000000;
}
.tienda_input input[type=radio]{
	cursor: pointer !important;
}
.tienda_input label {
	  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
}

.tv_tarvirtualunotris {
  font-size: 1.5em;
  margin-left: 10px;
}
.tienda_titulo_precios {
  border-bottom: 1px dotted #666666;
  color: #47789F;
  float: left;
  
  padding-bottom: 10px;

  font-weight: bold;
  line-height: 1;
  font-size: 1.5em;
  margin-top: 2%;
}
.tienda_titulo {
  color: #47789F !important;
  font-family: "sourcesansproreg",Helvetica,Arial,sans-serif !important;
  font-size: 2.3em;
  line-height: 1em;
  margin-left: 8%;
  margin-top: 2%;
  max-width: 82%;
  text-align: center;
  text-transform: uppercase !important;
  font-weight: bold;
}
.tienda_subtitulo {
  color: #47789F;
  float: left;
  font-size: 1.9em;
  font-weight: normal;
  line-height: 1.3em;
  margin-left: 8%;
  margin-top: 2%;
  text-transform: none;
  width: 48%;
}

.tarjetas ul{
   list-style-type:none;
   padding:0;
   margin:0;
}

.tarjetas ul:after, .tarjetas li:after {
   clear: both;
}
.tarjetas ul:before, .tarjetas ul:after, .tarjetas li:before, .tarjetas li:after{
   content: " ";
   display: table;
}
.tarjetas p {
  font-size: 0.8em;
  margin-left: 5px;
}
.tarjetas p span {
  color: #000;

}
.tarjetas {
	font-size:1.2em;
	height:30px;
}
.tarjetas li{ 
   margin:5px 0;

}
.tarjetas img { 
  float: left;
  height:15px;
  max-width:55%;
}
.tarjetas label { 
   /*float:left; 
   display:block;*/
   padding-left:10px;
   padding-top: 0px;
   padding-right:5px;
   margin-bottom: 4%;
   width:100%;
   font-weight: normal;
}
.tienda_condiciones {
	text-align: center;
	color: #666666;
	
}
.tienda_condiciones p {
	font-size: 16px;
}
.tienda_condiciones input {
	background: -webkit-gradient(linear, left top, left bottom, from(#47789f), to(#47789f));
	color: #FFFFFF;
  width: 16% !important;
  font-size: 1.7em !important;
}
.tarjetas input[type=radio], .tarjetas input.radio { 
   float:right; 
   /*margin:5px 0 0 0; */
     margin: 0px 0px 0px -20px;
}

@media only screen and (max-width: 767px)
#content {
  height: 550px;
}
.hidden2 {
	display: none !important;
	visibility: none !important;
}
@media (min-width: 768px) and (max-width: 1300px) { 
	#map {
		height: 590px;
	}
}
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) { 
	#map {
		height: 500px;
	}
}
 
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {
	#map {
		height: 400px;
	}
	.hidden2 {
		display: block !important;
		visibility: visible;
	}
}

/** Tarjeta de visita **/
.tarjeta .row  {
	border-bottom: 1px dashed #82c7f8;
}
  
.star {
  position: relative;
  float:right;
  margin-right: -30px;
  margin-top:20px;
  z-index: 2 !important;

}
/**NEWW ALEX CSS**/
@media (min-width: 1200px){
a.navbar-brand {
    position: relative!important;
    width: auto;
    margin: 0!important;
    left:0;
}
a#main-menu-toggle{
	position: relative!important;
	float: left;
}
.navbar nav{
	margin-left: 57px!important;
}
.box .box-content > .row{
	width: 850px;
	margin: auto;
	    /* border: none!important; */
	    max-width: 100%;
}
}
.box-content .box > .box-header{
	    background-color: #4778a0;
    height: 20px!important;
    border: none!important;
}
/*
.box-content .box > .box-header .title.text-center{
	    padding: 0px 10px!important;
    background: white;
    height: 20px;
}
*/
/*
.box-content .box > .box-header .btn-minimize{
    color: #47789f;
	vertical-align: top;
}
*/
.box .box-header .box-icon {
    float: right;
    height: 20px;
    vertical-align: top;
    /* line-height: 48px;	 */
}
.box .box{
	border: none;
}
.box-icon > a > i{
	    padding: 5px!important;
}
.box-icon > a{
	position: relative;
	top:-2px;
	/* color: white!important; */
}
.box-icon a{
	display: inline-block;
}
.box-content{
	overflow: hidden;
}
.col-sm-offset-3.col-sm-6.col-sm-offset-3{
	width: 60%;
}


article#tabs-to-right .ui-tabs-panel{
	border-radius: 10px 0 10px 10px!important;
}
.no_pad{
	padding:0!important;
}
.fons{
	background-color: #e6ebf1!important;
}
.no_pad .ui-tabs .ui-tabs-nav li{
	border:none;
}
.no_pad .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{
	 background: #e6ebf1;
}
.no_pad .ui-widget-header{
	background: #FFFFFF;
}
.no_pad .ui-tabs-nav{
	padding-right: 0px;
}
li.ui-state-default:last-child{
	margin-right: 0px!important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	padding-bottom: 0px!important;
}
.box-header h2.title{
	padding: 1px!important;
}
.box-header img{
	vertical-align: top;
}
/*
.fa.fa-globe,.fa.fa-info,.fa.fa-book,.fa.fa-user{
	margin-left: -11px!important;margin-right: 10px!important;
}
*/
.has_participed{
	cursor: pointer;
}
.row_round,.row_round2,.row_round3{
	margin-top: 20px!important;
}
.button_blue{
	background-color: #47789f;
    color: #fff!important;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 4px 0;
    display: block;
    width: 90%;
    margin: auto;
    border:none;
}
.new_font {
    padding: 3px;
    border: 1px solid #517fa4;
    min-height: 27px; 
    text-align: center; 
    margin-bottom: 8px; 
    font-size: 13px;
    background: white;
    border-radius: 4px;
}
.box .box-header h2 i{
	width: 48px;
}
.marg2{
	padding-left: 38px;
}
.continets.box-content .carousel.slide{
	    border: 1px solid rgb(186, 185, 185);
    -webkit-box-shadow: 6px 6px 22px -5px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 6px 6px 22px -5px rgba(50, 50, 50, 0.35);
    box-shadow: 6px 6px 22px -5px rgba(50, 50, 50, 0.35);
    padding-bottom: 15px;
}
.sombra{
	-webkit-box-shadow: 6px 6px 22px -5px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 6px 6px 22px -5px rgba(50, 50, 50, 0.35);
    box-shadow: 6px 6px 22px -5px rgba(50, 50, 50, 0.35);
}
/*
.wizard ul li.complete{
	    background: #b2b8bd!important;
}
.wizard ul li.active {
    background: #47789f;
}
.wizard ul li.active .chevron:before{
	    border-left: 28px solid #b2b8bd;
}
.wizard ul li.active .chevron:before {
    border-left: 28px solid #47789f;
}
*/
.back_his {
    width: 45px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 15px;
    line-height: 5px;
    left: 10%;
    font-size: 12px;
}
.borde_max{
	border: 7px solid #45759b!important;
}

.tbuttons{
	    background-color: #47789F;
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 7px 4px 6px -3px #333333;
    -moz-box-shadow: 7px 4px 6px -3px #333333;
    box-shadow: 7px 4px 6px -3px #333333;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    margin-left: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}