<div class="continents form">
<?php echo $this->Form->create('Continent'); ?>
	<fieldset>
		<legend><?php echo __('Admin Edit Continent'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Continent.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('Continent.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Continents'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Countries'), array('controller' => 'countries', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Country'), array('controller' => 'countries', 'action' => 'add')); ?> </li>
	</ul>
</div>
