/* 	Reset Styling
----------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	outline: none;
	padding: 0px;
	margin: 0px
}

/*	General Styling
----------------------------------------------------------------------*/
body {
	margin: 0 auto;
	background: #333;
	color: #7A7A7A;
	line-height: 18px;
	font-family: "Tahoma", Helvetica, Arial;
	font-size: 12px
}
::selection{
	color:#fff;
	background:#191919
}
::-moz-selection{
	color:#fff;
	background:#191919
}
img {
	border: none;
	max-width: 100%
}
a {
	color: #000;
	text-decoration: none !important;
	-webkit-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out
}
a:hover {
	color: #ACACAC
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	padding: 0;
	margin: 0 0 10px 0;
	font-family: "Marcellus", Tahoma, Arial;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}
h1 { font-size: 32px }
h2 { font-size: 26px }
h3 { font-size: 20px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 12px }
p {
	margin-bottom: 30px
}
p:last-child {
	margin-bottom: 0
}
strong {
	font-weight: bold
}
em {
	font-style: italic
}
ol {
	padding: 0;
	margin: 0
}
ol li {
	list-style: decimal;
	padding: 0 0 10px 0;
	margin: 0 0 0 20px;
	line-height: 24px
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none
}
cite {
	float: right;
	padding: 0 0 5px 0
}
hr {
	background: #e6e6e6;
	border: 0;
	clear: both;
	width: 100%;
	height: 1px;
	padding: 0;
	margin: 20px 0;
	position: relative
}
pre {
	color: #333;
	white-space: initial;
	border-radius: 3px;
	background: #ccc;
	border-left: 8px solid #1ABC9C;
	padding: 14px 20px;
	white-space: initial;
	margin: 5px 0 20px 0;
	overflow: auto;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
code {
	color: #333;
	background: #ccc;
	border-left: 8px solid #1ABC9C;
	padding: 14px 20px;
	border-radius: 3px;
	margin: 5px 0 20px 0;
	clear: both;
	display: block;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
iframe {
	max-width: 100%;
}
mark {
	padding: 3px 5px;
}
textarea { 
	white-space:pre; 
}

/*	Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/*	Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
	margin-left: 0 !important
}
.omega {
	margin-right: 0 !important
}

/*	Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.grid_1 {
	width:6.333%;
}
.grid_2 {
	width:14.667%;
}

.grid_3 {
	width:23.0%;
}

.grid_4 {
	width:31.333%;
}

.grid_5 {
	width:39.667%;
}

.grid_6 {
	width:48.0%;
}

.grid_7 {
	width:56.333%;
}

.grid_8 {
	width:64.667%;
}

.grid_9 {
	width:73.0%;
}

.grid_10 {
	width:81.333%;
}

.grid_11 {
	width:89.667%;
}
.grid_12 {
	width:98.0%;
}
.grid_12:after {
	content: "";
	clear: both;
}
.grid_full {
	width:100%;
}
.row {
	width: 1060px;
	margin: 0 auto;
	padding: 0 40px;
	position: relative;
}
.boxed {
	margin: 0 auto;
	width: 1140px;
	background: #fff;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.boxed-margin {
	margin: 30px auto;
	width: 1140px;
	background: #fff;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
#layout {
	position: relative;
}
.snapjs-left #layout {
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
}
.full {
	width: 100%;
	margin: 0 auto;
	background: #fff;
}
.left-sidebar .posts {
	float: right
}

/*	Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
	  clear: both;
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
}
.clearfix:before,
.clearfix:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}

/*	Page Content
----------------------------------------------------------------------*/
.page-content {
	margin: 70px 0;
}
.grey-line {
	width: 100%;
	padding: 40px 0;
	background: #F2F2F2 url(images/backgrounds/48.png) repeat;
	border-top: 2px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
}
.grey-line.official_feature_one {
	padding: 40px 0 0;
}
.action-simple {
	text-align: center;
	padding: 0 0 45px 0;
	border-bottom: 1px solid #E6E6E6;
}
.action-simple h5 {
	color: #919191
}
.col-title {
	padding: 0 0 10px;
	margin: 0;
	font-size: 18px;
	border-bottom: 1px solid #000;
	display: inline-block;
}
.official-shop h3 small {
	display: block;
	margin-top: 10px;
	text-transform: none;
}
#footer .col-title {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.liner {
	display: block;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
	margin: -1px 0 20px;
}
.list, .tower {
	line-height: 24px;
}
.list i {
	margin-right: 2px;
}

.breadcrumb-place {
	height: 110px;
	background: #0b0b0b url(images/breadcrumb.jpg) no-repeat top center;
}
.page-title {
	float: left;
	margin: 0;
	font-weight: normal;
	color: #fff;
	padding: 46px 0 0 0
}
.breadcrumbIn {
	float: right;
	padding: 45px 0 0 0
}
.breadcrumbIn span {
	display: inline-block;
	font-size: 11px;
	color : #C2C2C2;
}
.breadcrumbIn ul {
	display: inline-block;
}
.breadcrumbIn ul li {
	color : #C2C2C2;
	font-size: 12px;
	padding: 0 10px;
	font-weight: normal;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
.breadcrumbIn ul li a {
	color : #fff
}
.breadcrumbIn ul li a:hover {
	color : #ddd
}
.breadcrumbIn li:before {
	content: "/";
	position: absolute;
	display: block;
	font-size: 8px;
	left: -6px;
	top: 1px;
}
.breadcrumbIn li:first-child:before {
	content: "";
	height: 0;
	width: 0;
	border: 0;
}

/*	Accordion, Toggle
----------------------------------------------------------------------*/
.accordion-head,
.toggle-head {
	padding: 10px 20px;
	margin: 8px 0 0 0;
	font-size: 14px;
	cursor: pointer;
	border-bottom: 1px solid #EAEAEA;
	color: #BDBDBD;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
}
.accordion-head i,
.toggle-head i {
	padding-right: 8px;
}
.sub-accordion:first-child .accordion-head,
.sub-toggle:first-child .toggle-head {
	margin: 0;
}
.accordion-head:hover,
.toggle-head:hover {
	border-bottom: 1px solid #ccc;
}
.active .accordion-head,
.active .toggle-head {
	color: #191919;
	border-bottom: 1px solid #191919;
}
.active .accordion-content,
.active .toggle-content {
	border: 0;
	-webkit-animation: bounceIn 0.8s;
	animation: bounceIn 0.8s
}
.active .icon-minus-sign {
	-webkit-animation: fadeInUp 1s;
	animation: fadeInUp 1s
}
.active .icon-plus-sign {
	-webkit-animation: fadeInDown 1s;
	animation: fadeInDown 1s
}
.accordion-content,
.toggle-content {
	padding:16px;
	overflow:hidden;
}
.accordion-head-sign,
.toggle-head-sign {
	float:left;
	margin: 0 10px 0 -20px;
	cursor:pointer;
}
.accordion-head-sign i,
.toggle-head-sign i {
	padding: 0;
	margin: 0;
}

/*	Footer
----------------------------------------------------------------------*/
#footer {
	background: #333 url(images/footer-pattern.png) repeat;
	padding: 50px 0 0;
	color: #bfbfbf;
	border-bottom: 5px solid #101010;
}
#footer hr {
	background: #0C0C0C;
	box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.07);
	margin: 10px 0;
}
#footer .col-title {
	font-size: 14px;
	font-weight: normal;
}
.footer-last {
	background: #101010;
	padding: 20px 0 !important;
}
.copyright {
	float: left;
	padding: 0 20px;
	color: #696969;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	color: #666;
	text-decoration: underline;
}
#footer .links i {
	margin-right: 2px;
}
#footer .links li a {
	line-height: 24px;
}
#footer .links li span {
	display: block;
	color: #919191;
	font-size: 11px;
	margin-bottom: 6px;
}
#footer .p-title {
	color: #fff;
	margin: 0 0 30px 0;
}
.tweet_list li {
	margin: 0 0 30px 0;
	padding: 0 0 0 30px;
}
.tweet_list .icon-twitter {
	color: #E7E7E7;
	font-size: 22px;
	position: absolute;
	left: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sidebar .tweet_list .icon-twitter {
	color: #e6e6e6
}
.tweet_list li:hover .icon-twitter {
	color: #666
}
.flickr-photos li {
	float: left;
	margin: 0 10px 10px 0;
	width: 70px;
	height: 70px;
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 99;
}
.flickr-photos:hover li {
	opacity: 0.3;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.flickr-photos li:hover {
	opacity: 1;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.flickr-photos li img {
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.foot-menu {
	float: right;
	padding: 0 10px;
}
.foot-menu li {
	float: left;
	position: relative;
	padding: 0 10px;
}
.foot-menu li:before {
	content: '/';
	color: #696969;
	font-size: 8px;
	position: absolute;
	left: -1px;
	top: 2px;
}
.foot-menu li:first-child:before {
	content: '' !important;
}
.foot-menu li a {
	font-weight: 600;
}