<div class="span8 tarjeta" style="width:385px;height:250px;margin: 5px 251px;color: #333333;font-size: 16px;">
  <div class="row-fluid ">
    <div class="span3" style="width:110px;">
      <div class="span11 edis">
        <a href="#" onclick="return false;" data-toggle="tooltip" title="user_sectorn_name" class="tool_tip_">
          <?php echo 'Sector'?>
        </a>
      </div>
      <div class="span11 ">
        <?php
            $nombreImagen = '';
            echo "<img src="" alt="Fotografía" title=\'Fotografía\'>";
          ?>
      </div>
    </div>
    <div class="span8 ">
      <div class="span11 edis" style="margin-left:0px!important;">
        <a href="#" onclick="return false;" data-toggle="tooltip" title="<?php echo "cmopan_name";?>" class="tool_tip_">
          <?php echo "$company_name";?>
        </a>
      </div>
      <div class="span11 edis">
        <a href="#" onclick="return false;" data-toggle="tooltip" title="name" class="tool_tip_">
          <?php
          $completename = '';
          echo $completename;?>
        </a>
      </div>
      <div class="span11 edis">
        <?php echo "Empleado";?>
        /*
        if ($tipoEmpleado == 'E') {echo "Empleado";}
        else {echo "Autónomo";}
        */
        ?>
      </div>
      
      <div class="span11 edis">
        <a href="#" onclick="return false;" data-toggle="tooltip" title="<?php echo $function_name;?>" class="tool_tip_">
          <?php echo $function_name;?>
        </a>
      </div>
      <div class="span11 edis">
        <a href="#" onclick="return false;" data-toggle="tooltip" title="<?php echo $department_name;?>" class="tool_tip_">
          <?php echo $department_name;?>
        </a>
      </div>
      <br>
      <div class="span11 edis">
        <a href="#" onclick="return false;" data-toggle="tooltip" title="<?php
          if (!empty($city_name)) {
            echo $city_name.', '.str_replace('ñ','Ñ',strtoupper($country_name));  
          } else {
            echo str_replace('ñ','Ñ',strtoupper($country_name));  
          }
          ?>" class="tool_tip_">    
        <?php
          if (!empty($city_name)) {
            $poblacion =  $city_name.', '.str_replace('ñ','Ñ',strtoupper($country_name)); 
          } else {
            $poblacion = str_replace('ñ','Ñ',strtoupper($country_name));  
          }
          echo $poblacion;?>
        </a>  
      </div>
    </div>
  </div>
  <div class="row-fluid bot">
    <div class="span8 edis">
      <a href="#" onclick="return false;" data-toggle="tooltip" title="<?=$user['email'];?>" class="tool_tip_">
        <?php
        $mail = $user['email'];
        echo $mail;
        ?>
      </a>
    </div>
    <div class="span8 edis">
      <a href="#" onclick="return false;" data-toggle="tooltip" title="<?php echo $address;?>" class="tool_tip_">
        <?php             
        if (!empty($address)) {
          echo $address;
        }
        ?>
      </a>  
    </div>