<?php
/**
 * User: Miquel Ramon Ortega i Tido
 * Date: 30/04/14
 * Time: 18:03
 * @file top_bar.ctp
 */

echo $this->Html->script('loadHotspotsListOnTopBar', array('inline' => false));
?>

<!-- start: Header -->
<header class="navbar">
  <div class="container">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand col-md-2 col-sm-1 col-xs-2" href="/home"><span><?= $this->Html->image('logo.png');?></span></a>
    <!-- start: Header Menu -->
    <div class="nav-no-collapse header-nav">
      <ul class="nav navbar-nav pull-right">
          <?php echo $this->Element('idiom',array('visible' => true));?>
        <li class="dropdown hidden-xs">
          <a class="btn dropdown-toggle"  href="#">
            <i class="glyphicons wifi_alt"></i>
          </a>
          <ul class="dropdown-menu notifications" id="hotspotslist">
            <li class="dropdown-menu-title" style="text-align: center;">
              <span><?= __('Puntos de acceso') ?></span>
            </li>
          </ul>
        </li>

        <!-- start: User Dropdown -->
        <li class="dropdown">
          <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="avatar"><?= $this->Html->image('avatar.jpg', array('alt' => 'Avatar')); ?></div>
            <div class="user">
              <span class="hello"><?= __('Bienvenido') ?></span>
              <span class="name"><?php echo $this->Session->read('Auth.User.username')?></span>
            </div>
          </a>
          <ul class="dropdown-menu menumine" style="text-align: left">
            <li><a href="/Users/my"><i class="fa fa-user"></i><?= __('Perfil') ?></a></li>
            <!-- <li><a href="/Users/my"><i class="fa fa-cog"></i><?= __('Configuration') ?></a></li> -->
            <li><a href="/Users/logout"><i class="fa fa-off"></i><?= __('Salir') ?></a></li>
          </ul>
        </li>
        <!-- end: User Dropdown -->
      </ul>
    </div>
    <!-- end: Header Menu -->

  </div>
</header>
<!-- end: Header -->